In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/jensk/code/JensKlug/zillows_real_estate/raw_data/HouseTS.csv')

In [4]:
df_sorted = df.sort_values(['zipcode', 'date']).reset_index(drop=True)
#df_sorted[['zipcode', 'date']]

In [ ]:
#df_grouped = df_sorted.groupby('zipcode')

In [5]:
all_column_names = df_sorted.columns
all_column_names

Index(['date', 'median_sale_price', 'median_list_price', 'median_ppsf',
       'median_list_ppsf', 'homes_sold', 'pending_sales', 'new_listings',
       'inventory', 'median_dom', 'avg_sale_to_list', 'sold_above_list',
       'off_market_in_two_weeks', 'city', 'zipcode', 'year', 'bank', 'bus',
       'hospital', 'mall', 'park', 'restaurant', 'school', 'station',
       'supermarket', 'Total Population', 'Median Age', 'Per Capita Income',
       'Total Families Below Poverty', 'Total Housing Units', 'Median Rent',
       'Median Home Value', 'Total Labor Force', 'Unemployed Population',
       'Total School Age Population', 'Total School Enrollment',
       'Median Commute Time', 'price', 'city_full'],
      dtype='object')

In [ ]:
#numeric_column_names = df_sorted.select_dtypes(include='number').columns

In [19]:
feature_description = {}

In [18]:
feature_description

{'date': 'Date of the observation.'}

In [57]:
df_sorted[['date','zipcode','Total Population', 'city_full']]

              date  zipcode  Total Population                     city_full
0       2012-03-31     1431            3030.0       Boston-Cambridge-Newton
1       2012-04-30     1431            3030.0       Boston-Cambridge-Newton
2       2012-05-31     1431            3030.0       Boston-Cambridge-Newton
3       2012-06-30     1431            3030.0       Boston-Cambridge-Newton
4       2012-07-31     1431            3030.0       Boston-Cambridge-Newton
...            ...      ...               ...                           ...
884087  2023-08-31    98686           20518.0  Portland-Vancouver-Hillsboro
884088  2023-09-30    98686           20518.0  Portland-Vancouver-Hillsboro
884089  2023-10-31    98686           20518.0  Portland-Vancouver-Hillsboro
884090  2023-11-30    98686           20518.0  Portland-Vancouver-Hillsboro
884091  2023-12-31    98686           20518.0  Portland-Vancouver-Hillsboro

[884092 rows x 4 columns]

In [54]:
feature_description['date'] = 'Date of the observation.'
feature_description['median_sale_price'] = 'Median sale price of homes during the observation period.'
feature_description['median_list_price'] = 'Median listing price of homes during the observation period.'
feature_description['median_ppsf'] = 'Median sale price per square foot of homes sold.'
feature_description['median_list_ppsf'] = 'Median listing price per square foot of homes listed.'
feature_description['homes_sold'] = 'Total number of homes sold during the observation period.'
feature_description['pending_sales'] = 'Number of homes under contract but not yet sold.'
feature_description['new_listings'] = 'Number of newly listed homes during the observation period.'
feature_description['inventory'] = 'Total number of active home listings.'
feature_description['median_dom'] = 'Median number of days a home stays on the market before being sold (Days on Market).'
feature_description['avg_sale_to_list'] = 'Average ratio of sale price to list price, expressed as a percentage.'
feature_description['sold_above_list'] = 'Percentage of homes sold above their listing price.'
feature_description['off_market_in_two_weeks'] = 'Percentage of homes that went off market within two weeks of listing.'
feature_description['city'] = 'City in which the home is located.'
feature_description['zipcode'] = 'ZIP code where the home is located.'
feature_description['year'] = 'Year of the observation.'
feature_description['bank'] = 'Number of bank branches in the area.'
feature_description['bus'] = 'Number of bus stops in the area.'
feature_description['hospital'] = 'Number of hospitals in the area.'
feature_description['mall'] = 'Number of shopping malls in the area.'
feature_description['park'] = 'Number of parks in the area.'
feature_description['restaurant'] = 'Number of restaurants in the area.'
feature_description['school'] = 'Number of schools in the area.'
feature_description['station'] = 'Number of train or subway stations in the area.'
feature_description['supermarket'] = 'Number of supermarkets in the area.'
feature_description['Total Population'] = 'Total population of the ZIP code area.'
feature_description['Median Age'] = 'Median age of the population in the ZIP code area.'
feature_description['Per Capita Income'] = 'Average income earned per person in the ZIP code area.'
feature_description['Total Families Below Poverty'] = 'Total number of families living below the poverty line in the ZIP code area.'
feature_description['Total Housing Units'] = 'Total number of housing units in the ZIP code area.'
feature_description['Median Rent'] = 'Median monthly rent in the ZIP code area.'
feature_description['Median Home Value'] = 'Median value of owner-occupied housing units in the ZIP code area.'
feature_description['Total Labor Force'] = 'Total number of people in the labor force in the ZIP code area.'
feature_description['Unemployed Population'] = 'Total number of unemployed people in the ZIP code area.'
feature_description['Total School Age Population'] = 'Total number of school-aged individuals in the ZIP code area.'
feature_description['Total School Enrollment'] = 'Total number of individuals enrolled in school in the ZIP code area.'
feature_description['Median Commute Time'] = 'Median travel time to work for residents in the ZIP code area (in minutes).'
feature_description['price'] = 'Final estimated home price, target variable in simulation.'
feature_description['city_full'] = 'Full name or description of the city (may include state or additional info).'