In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('/home/jensk/code/JensKlug/zillows_real_estate/raw_data/HouseTS.csv')

In [33]:
# Make sure it's sorted by city, zipcode, and date
df = df.sort_values(['city', 'zipcode', 'date']).reset_index(drop=True)

# Convert date to datetime if not already
df['date'] = pd.to_datetime(df['date'])

In [34]:
train = df[df.date.dt.year<2023]
#train

In [35]:
test = df[df.date.dt.year>2022]
#test

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 809380 entries, 0 to 884079
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          809380 non-null  datetime64[ns]
 1   median_sale_price             809380 non-null  float64
 2   median_list_price             809380 non-null  float64
 3   median_ppsf                   809380 non-null  float64
 4   median_list_ppsf              809380 non-null  float64
 5   homes_sold                    809380 non-null  float64
 6   pending_sales                 809380 non-null  float64
 7   new_listings                  809380 non-null  float64
 8   inventory                     809380 non-null  float64
 9   median_dom                    809380 non-null  float64
 10  avg_sale_to_list              809380 non-null  float64
 11  sold_above_list               809380 non-null  float64
 12  off_market_in_two_weeks       809380 non-null  float64
 13  city                          809380 non-null  object
 14  zipcode                       809380 non-null  int64
 15  year                          809380 non-null  int64
 16  bank                          809380 non-null  float64
 17  bus                           809380 non-null  float64
 18  hospital                      809380 non-null  float64
 19  mall                          809380 non-null  float64
 20  park                          809380 non-null  float64
 21  restaurant                    809380 non-null  float64
 22  school                        809380 non-null  float64
 23  station                       809380 non-null  float64
 24  supermarket                   809380 non-null  float64
 25  Total Population              809380 non-null  float64
 26  Median Age                    809380 non-null  float64
 27  Per Capita Income             809380 non-null  float64
 28  Total Families Below Poverty  809380 non-null  float64
 29  Total Housing Units           809380 non-null  float64
 30  Median Rent                   809380 non-null  float64
 31  Median Home Value             809380 non-null  float64
 32  Total Labor Force             809380 non-null  float64
 33  Unemployed Population         809380 non-null  float64
 34  Total School Age Population   809380 non-null  float64
 35  Total School Enrollment       809380 non-null  float64
 36  Median Commute Time           809380 non-null  float64
 37  price                         809380 non-null  float64
 38  city_full                     809380 non-null  object
dtypes: datetime64[ns](1), float64(34), int64(2), object(2)
memory usage: 247.0+ MB

In [37]:
# Group by city and zipcode for proper time series handling
grouped = train.groupby(['city', 'zipcode'])

In [51]:
ts_train = pd.DataFrame()

In [52]:
# Create 3-month profitability target
ts_train['target_profitable_3m'] = (grouped['price'].shift(-3) > 1.005 * train['price']).astype(int)

numeric_column_names = train.select_dtypes(include='number').columns

for feature in numeric_column_names:
    for lag in range(1, 4):  # 1 to 6 months
        ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)

/tmp/ipykernel_42193/2052503371.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)
/tmp/ipykernel_42193/2052503371.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)
/tmp/ipykernel_42193/2052503371.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)
/tmp/ipykernel_42193/2052503371.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)
/tmp/ipykernel_42193/2052503371.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)
/tmp/ipykernel_42193/2052503371.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)
/tmp/ipykernel_42193/2052503371.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)
/tmp/ipykernel_42193/2052503371.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)
/tmp/ipykernel_42193/2052503371.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  ts_train[f'{feature}_{lag}m'] = grouped[f'{feature}'].shift(lag)

In [53]:
# Remove rows where target cannot be calculated (last 3 months for each location)
ts_train = ts_train.dropna().reset_index(drop=True)


print("Created features:")
print("- target_profitable_3m")
print("- per_capita_income_lag_1m to per_capita_income_lag_6m")
print("- price_lag_1m to price_lag_6m")
print(f"Final dataset shape: {ts_train.shape}")

Created features:
- target_profitable_3m
- per_capita_income_lag_1m to per_capita_income_lag_6m
- price_lag_1m to price_lag_6m
Final dataset shape: (790702, 109)

In [54]:
ts_train['target_profitable_3m'].value_counts()

target_profitable_3m
1    587370
0    203332
Name: count, dtype: int64

In [42]:
ts_train.columns.values

array(['target_profitable_3m', 'median_sale_price_1m',
       'median_sale_price_2m', 'median_sale_price_3m',
       'median_list_price_1m', 'median_list_price_2m',
       'median_list_price_3m', 'median_ppsf_1m', 'median_ppsf_2m',
       'median_ppsf_3m', 'median_list_ppsf_1m', 'median_list_ppsf_2m',
       'median_list_ppsf_3m', 'homes_sold_1m', 'homes_sold_2m',
       'homes_sold_3m', 'pending_sales_1m', 'pending_sales_2m',
       'pending_sales_3m', 'new_listings_1m', 'new_listings_2m',
       'new_listings_3m', 'inventory_1m', 'inventory_2m', 'inventory_3m',
       'median_dom_1m', 'median_dom_2m', 'median_dom_3m',
       'avg_sale_to_list_1m', 'avg_sale_to_list_2m',
       'avg_sale_to_list_3m', 'sold_above_list_1m', 'sold_above_list_2m',
       'sold_above_list_3m', 'off_market_in_two_weeks_1m',
       'off_market_in_two_weeks_2m', 'off_market_in_two_weeks_3m',
       'zipcode_1m', 'zipcode_2m', 'zipcode_3m', 'year_1m', 'year_2m',
       'year_3m', 'bank_1m', 'bank_2m', 'bank_3m', 'bus_1m', 'bus_2m',
       'bus_3m', 'hospital_1m', 'hospital_2m', 'hospital_3m', 'mall_1m',
       'mall_2m', 'mall_3m', 'park_1m', 'park_2m', 'park_3m',
       'restaurant_1m', 'restaurant_2m', 'restaurant_3m', 'school_1m',
       'school_2m', 'school_3m', 'station_1m', 'station_2m', 'station_3m',
       'supermarket_1m', 'supermarket_2m', 'supermarket_3m',
       'Total Population_1m', 'Total Population_2m',
       'Total Population_3m', 'Median Age_1m', 'Median Age_2m',
       'Median Age_3m', 'Per Capita Income_1m', 'Per Capita Income_2m',
       'Per Capita Income_3m', 'Total Families Below Poverty_1m',
       'Total Families Below Poverty_2m',
       'Total Families Below Poverty_3m', 'Total Housing Units_1m',
       'Total Housing Units_2m', 'Total Housing Units_3m',
       'Median Rent_1m', 'Median Rent_2m', 'Median Rent_3m',
       'Median Home Value_1m', 'Median Home Value_2m',
       'Median Home Value_3m', 'Total Labor Force_1m',
       'Total Labor Force_2m', 'Total Labor Force_3m',
       'Unemployed Population_1m', 'Unemployed Population_2m',
       'Unemployed Population_3m', 'Total School Age Population_1m',
       'Total School Age Population_2m', 'Total School Age Population_3m',
       'Total School Enrollment_1m', 'Total School Enrollment_2m',
       'Total School Enrollment_3m', 'Median Commute Time_1m',
       'Median Commute Time_2m', 'Median Commute Time_3m', 'price_1m',
       'price_2m', 'price_3m'], dtype=object)

In [43]:
ts_train[ts_train.zipcode_1m==30002]

,target_profitable_3m,median_sale_price_1m,median_sale_price_2m,median_sale_price_3m,median_list_price_1m,median_list_price_2m,median_list_price_3m,median_ppsf_1m,median_ppsf_2m,median_ppsf_3m,...,Total School Age Population_3m,Total School Enrollment_1m,Total School Enrollment_2m,Total School Enrollment_3m,Median Commute Time_1m,Median Commute Time_2m,Median Commute Time_3m,price_1m,price_2m,price_3m
0,0,125500.0,61870.0,46550.0,217450.0,245000.0,217450.0,63.913043,40.723982,31.813674,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,202681.309539,202421.064584,200773.999557
1,0,153000.0,125500.0,61870.0,189900.0,217450.0,245000.0,81.598080,63.913043,40.723982,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,202998.603897,202681.309539,202421.064584
2,0,165500.0,153000.0,125500.0,154000.0,189900.0,217450.0,81.598080,81.598080,63.913043,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,203781.903446,202998.603897,202681.309539
3,0,140250.0,165500.0,153000.0,145000.0,154000.0,189900.0,78.918228,81.598080,81.598080,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,205012.252913,203781.903446,202998.603897
4,0,140000.0,140250.0,165500.0,103950.0,145000.0,154000.0,78.918228,78.918228,81.598080,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,205414.599202,205012.252913,203781.903446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,0,602750.0,555000.0,519000.0,542500.0,540000.0,525000.0,234.281690,230.061350,218.750000,...,5713.0,5713.0,5713.0,5713.0,2728.0,2728.0,2728.0,499412.241077,495606.636012,488436.530983
123,0,568750.0,602750.0,555000.0,455000.0,542500.0,540000.0,232.192450,234.281690,230.061350,...,5713.0,5713.0,5713.0,5713.0,2728.0,2728.0,2728.0,500013.225078,499412.241077,495606.636012
124,0,570000.0,568750.0,602750.0,472642.5,455000.0,542500.0,225.866425,232.192450,234.281690,...,5713.0,5713.0,5713.0,5713.0,2728.0,2728.0,2728.0,498003.211865,500013.225078,499412.241077
125,0,572500.0,570000.0,568750.0,460285.0,472642.5,455000.0,231.490967,225.866425,232.192450,...,5713.0,5713.0,5713.0,5713.0,2728.0,2728.0,2728.0,496887.003144,498003.211865,500013.225078
126,0,575000.0,572500.0,570000.0,499990.0,460285.0,472642.5,231.331169,231.490967,225.866425,...,5713.0,5713.0,5713.0,5713.0,2728.0,2728.0,2728.0,495875.243858,496887.003144,498003.211865

In [44]:
ts_train.loc[120:135,['price_1m', 'zipcode_1m']]

          price_1m  zipcode_1m
120  488436.530983     30002.0
121  495606.636012     30002.0
122  499412.241077     30002.0
123  500013.225078     30002.0
124  498003.211865     30002.0
125  496887.003144     30002.0
126  495875.243858     30002.0
127  289766.001103     30004.0
128  290093.878929     30004.0
129  290533.730909     30004.0
130  291191.978223     30004.0
131  292347.290940     30004.0
132  293447.569779     30004.0
133  294588.010612     30004.0
134  295800.912260     30004.0
135  297400.010468     30004.0

In [45]:
ts_train

,target_profitable_3m,median_sale_price_1m,median_sale_price_2m,median_sale_price_3m,median_list_price_1m,median_list_price_2m,median_list_price_3m,median_ppsf_1m,median_ppsf_2m,median_ppsf_3m,...,Total School Age Population_3m,Total School Enrollment_1m,Total School Enrollment_2m,Total School Enrollment_3m,Median Commute Time_1m,Median Commute Time_2m,Median Commute Time_3m,price_1m,price_2m,price_3m
0,0,125500.0,61870.0,46550.0,217450.0,245000.0,217450.0,63.913043,40.723982,31.813674,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,202681.309539,202421.064584,200773.999557
1,0,153000.0,125500.0,61870.0,189900.0,217450.0,245000.0,81.598080,63.913043,40.723982,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,202998.603897,202681.309539,202421.064584
2,0,165500.0,153000.0,125500.0,154000.0,189900.0,217450.0,81.598080,81.598080,63.913043,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,203781.903446,202998.603897,202681.309539
3,0,140250.0,165500.0,153000.0,145000.0,154000.0,189900.0,78.918228,81.598080,81.598080,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,205012.252913,203781.903446,202998.603897
4,0,140000.0,140250.0,165500.0,103950.0,145000.0,154000.0,78.918228,78.918228,81.598080,...,5408.0,5408.0,5408.0,5408.0,2492.0,2492.0,2492.0,205414.599202,205012.252913,203781.903446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790697,0,438000.0,435000.0,435000.0,445250.0,435000.0,450000.0,298.229399,305.238677,299.755501,...,37698.0,37698.0,37698.0,37698.0,15002.0,15002.0,15002.0,430678.116793,425381.408635,416349.153215
790698,0,435500.0,438000.0,435000.0,429350.0,445250.0,435000.0,293.754998,298.229399,305.238677,...,37698.0,37698.0,37698.0,37698.0,15002.0,15002.0,15002.0,432523.250209,430678.116793,425381.408635
790699,0,430000.0,435500.0,438000.0,449999.5,429350.0,445250.0,293.646556,293.754998,298.229399,...,37698.0,37698.0,37698.0,37698.0,15002.0,15002.0,15002.0,431488.991172,432523.250209,430678.116793
790700,0,442000.0,430000.0,435500.0,435000.0,449999.5,429350.0,294.548415,293.646556,293.754998,...,37698.0,37698.0,37698.0,37698.0,15002.0,15002.0,15002.0,429747.893176,431488.991172,432523.250209
790701,0,438500.0,442000.0,430000.0,449900.0,435000.0,449999.5,293.160001,294.548415,293.646556,...,37698.0,37698.0,37698.0,37698.0,15002.0,15002.0,15002.0,427285.207121,429747.893176,431488.991172

SGD Classifier look on the precision on the test set.
Gradient boosting classifier.

XGBoost classifier.

-> Target might be changed to a regression where we predict the price of the zip code.

-> Convert zipcode into longitude and latitude if possioble. -> Advantage: The model can differenciate the distance between the cities.

Scale with min max scaler as always not