In [1]:
import pandas as pd

In [2]:
house_df = pd.read_csv('../raw_data/realtor-data.csv')

In [3]:
%%time
house_df.head()

CPU times: user 95 μs, sys: 21 μs, total: 116 μs
Wall time: 121 μs

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [4]:
area_df = pd.read_csv('../raw_data/HouseTS.csv')

In [5]:
unique_zipcodes = area_df['zipcode'].unique().tolist()

In [6]:
filtered_house_df = house_df[house_df['zip_code'].isin(unique_zipcodes)]
filtered_house_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 936724 entries, 5199 to 2224341
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   brokered_by     935597 non-null  float64
 1   status          936724 non-null  object
 2   price           936401 non-null  float64
 3   bed             844470 non-null  float64
 4   bath            833568 non-null  float64
 5   acre_lot        755663 non-null  float64
 6   street          931960 non-null  float64
 7   city            936587 non-null  object
 8   state           936724 non-null  object
 9   zip_code        936724 non-null  float64
 10  house_size      793101 non-null  float64
 11  prev_sold_date  735667 non-null  object
dtypes: float64(8), object(4)
memory usage: 92.9+ MB

In [7]:
filtered_house_df = filtered_house_df.drop(columns=["brokered_by", "status"])

In [8]:
print(filtered_house_df[filtered_house_df.duplicated()])

             price  bed  bath  acre_lot     street        city          state  \
24595     659900.0  NaN   NaN    106.86  1853232.0  Barrington  New Hampshire
44736     449000.0  5.0   3.0      0.06   893062.0  Bloomfield     New Jersey
46234     329999.0  4.0   2.0      0.03  1260708.0     Haledon     New Jersey
46583     524900.0  5.0   3.0      0.06   984852.0        Lodi     New Jersey
46767     499000.0  5.0   3.0      0.05  1372844.0    Brooklyn       New York
...            ...  ...   ...       ...        ...         ...            ...
2197155  1025000.0  3.0   2.0      0.03  1374909.0     Seattle     Washington
2197253   680000.0  3.0   2.0      0.08   111278.0      Renton     Washington
2197789   775000.0  3.0   2.0      0.05   194389.0     Seattle     Washington
2202651   549500.0  5.0   3.0      0.08   133822.0    Puyallup     Washington
2203665  1897000.0  3.0   3.0      0.48  1146365.0   Sammamish     Washington

         zip_code  house_size prev_sold_date
24595      3825.0         NaN            NaN
44736      7003.0         NaN            NaN
46234      7508.0         NaN            NaN
46583      7644.0         NaN            NaN
46767     11210.0      2144.0            NaN
...           ...         ...            ...
2197155   98107.0      1643.0     2022-03-24
2197253   98055.0      1340.0     2022-03-24
2197789   98133.0      2580.0     2022-04-01
2202651   98374.0      2375.0     2022-03-24
2203665   98075.0      3040.0     2022-04-26

[1392 rows x 10 columns]

In [9]:
filtered_house_df = filtered_house_df.drop_duplicates() # Remove duplicates
len(filtered_house_df)# Check new number of rows

935332

In [10]:
filtered_house_df = filtered_house_df.drop(columns=["street", "city", "state", "prev_sold_date"])

In [11]:
filtered_house_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 935332 entries, 5199 to 2224341
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   price       935009 non-null  float64
 1   bed         843252 non-null  float64
 2   bath        832339 non-null  float64
 3   acre_lot    754475 non-null  float64
 4   zip_code    935332 non-null  float64
 5   house_size  792047 non-null  float64
dtypes: float64(6)
memory usage: 50.0 MB

In [12]:
non_numeric_prices = filtered_house_df[~pd.to_numeric(filtered_house_df['price'], errors='coerce').notnull()]
non_numeric_prices

         price  bed  bath  acre_lot  zip_code  house_size
81793      NaN  4.0   NaN       NaN    8055.0      2244.0
81799      NaN  3.0   NaN       NaN    8054.0      2224.0
81800      NaN  3.0   NaN       NaN    8054.0      2270.0
82259      NaN  2.0   NaN       NaN    8057.0      1748.0
82297      NaN  2.0   NaN       NaN    8057.0      1865.0
...        ...  ...   ...       ...       ...         ...
1394574    NaN  5.0   NaN       NaN   98360.0      2770.0
1785823    NaN  2.0   1.0      0.11   60409.0       840.0
1786347    NaN  3.0   2.0      0.17   60473.0      1500.0
1846450    NaN  3.0   2.0      0.23   60016.0      1196.0
1857265    NaN  2.0   2.0     35.00   60453.0      1641.0

[323 rows x 6 columns]

In [13]:
%%time
filtered_house_df = filtered_house_df.dropna(subset="price")
filtered_house_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 935009 entries, 5199 to 2224341
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   price       935009 non-null  float64
 1   bed         842950 non-null  float64
 2   bath        832269 non-null  float64
 3   acre_lot    754398 non-null  float64
 4   zip_code    935009 non-null  float64
 5   house_size  791755 non-null  float64
dtypes: float64(6)
memory usage: 49.9 MB
CPU times: user 17 ms, sys: 0 ns, total: 17 ms
Wall time: 16.4 ms

In [14]:
filtered_house_df.head()

          price  bed  bath  acre_lot  zip_code  house_size
5199   333490.0  3.0   3.0      0.07    8016.0      1500.0
10718  299900.0  2.0   1.0      4.99    1431.0      1590.0
10719  599900.0  3.0   4.0     13.21    1431.0      2224.0
10720  549900.0  5.0   4.0      1.60    1431.0      3574.0
10721  269000.0  3.0   2.0      1.85    1431.0      1762.0

In [15]:
#filtered_house_df = filtered_house_df[(filtered_house_df['price'] >= 20000) & (filtered_house_df['price'] <= 1500000)]

In [16]:
pip install pgeocode

Requirement already satisfied: pgeocode in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: requests in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from pgeocode) (2.32.3)
Requirement already satisfied: numpy in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from pgeocode) (2.2.6)
Requirement already satisfied: pandas in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from pgeocode) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from pandas->pgeocode) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from pandas->pgeocode) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from pandas->pgeocode) (2025.2)
Requirement already satisfied: six>=1.5 in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->pgeocode) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from requests->pgeocode) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from requests->pgeocode) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from requests->pgeocode) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/evrard/.pyenv/versions/3.10.6/envs/zillows_real_estate/lib/python3.10/site-packages (from requests->pgeocode) (2025.4.26)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
import pgeocode

# Convert zip_code column to 5-digit string
filtered_house_df['zip_code'] = filtered_house_df['zip_code'].astype(str).str.replace('\.0$', '', regex=True).str.zfill(5)

# Get unique zip codes
unique_zips = filtered_house_df['zip_code'].unique()

# Initialize pgeocode for US
nomi = pgeocode.Nominatim('us')

# Function to get coordinates
def get_coordinates(zip_code):
    try:
        result = nomi.query_postal_code(zip_code)
        if result.empty or pd.isna(result.latitude):
            return pd.Series([None, None])
        return pd.Series([result.latitude, result.longitude])
    except:
        return pd.Series([None, None])

# Create DataFrame for unique zip codes
zip_coords = pd.DataFrame(unique_zips, columns=['zip_code'])
zip_coords[['latitude', 'longitude']] = zip_coords.apply(lambda row: get_coordinates(row['zip_code']), axis=1)

# Map coordinates back to filtered_house_df
coords_dict = zip_coords.set_index('zip_code')[['latitude', 'longitude']].to_dict('index')
filtered_house_df['latitude'] = filtered_house_df['zip_code'].map(lambda x: coords_dict.get(x, {}).get('latitude'))
filtered_house_df['longitude'] = filtered_house_df['zip_code'].map(lambda x: coords_dict.get(x, {}).get('longitude'))



# Check for missing coordinates
print(filtered_house_df[['latitude', 'longitude']].isna().sum())

latitude     0
longitude    0
dtype: int64

In [22]:
filtered_house_df

,price,bed,bath,acre_lot,zip_code,house_size,latitude,longitude
5199,333490.0,3.0,3.0,0.07,08016,1500.0,40.0680,-74.8454
10718,299900.0,2.0,1.0,4.99,01431,1590.0,42.6745,-71.8174
10719,599900.0,3.0,4.0,13.21,01431,2224.0,42.6745,-71.8174
10720,549900.0,5.0,4.0,1.60,01431,3574.0,42.6745,-71.8174
10721,269000.0,3.0,2.0,1.85,01431,1762.0,42.6745,-71.8174
...,...,...,...,...,...,...,...,...
2220312,824900.0,4.0,5.0,5.00,98671,4015.0,45.5959,-122.3104
2220313,1700000.0,4.0,5.0,5.03,98671,4266.0,45.5959,-122.3104
2220330,524900.0,3.0,3.0,0.12,98665,2172.0,45.6892,-122.6616
2220331,420000.0,3.0,3.0,0.08,98665,1532.0,45.6892,-122.6616
2224341,450000.0,NaN,NaN,59.50,98122,NaN,47.6116,-122.3056

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
X = filtered_house_df.drop(columns='price')
y = filtered_house_df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [ ]:
#preprocessing
#The scaling

# StandardScaler ("Standardizing")
# MinMaxScaler ("Normalizing")
# RobustScaler

In [ ]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor





# 2. Preprocess with ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), features)  # Scale all numeric features
    ]
)

# 3. Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 4. Apply preprocessor
X_train_transformed = preprocessor.fit_transform(X_train)
X_test_transformed = preprocessor.transform(X_test)

# 5. Train XGBoost model
model = XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42, n_jobs=-1)
model.fit(X_train_transformed, y_train)

# 6. Evaluate
y_pred = model.predict(X_test_transformed)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"XGBoost RMSE: ${rmse:,.2f}")

# Feature importance
print("Feature importance:")
for name, importance in zip(features, model.feature_importances_):
    print(f"{name}: {importance:.4f}")

# Save predictions
test_results = X_test.copy()
test_results['actual_price'] = y_test
test_results['predicted_price'] = y_pred
test_results.to_csv('price_predictions_xgboost.csv', index=False)